<h1><%= t 'stock.simulation_results' %>: <%= @subject_name %></h1>
<% if @simulations.empty? -%>
  <tr><td><%= t 'stock.no_simulation_results' %></td></tr>
<% else -%>
  <table>
    <tr>
      <th><%= t 'stock.symbol' %></th>
      <th><%= t 'simulation.created_at' %></th>
      <th><%= t 'simulation.updated_at' %></th>
      <th><%= t 'stock.start' %></th>
      <th><%= t 'stock.end' %></th>
      <th><%= t 'simulation.amount' %></th>
      <th><%= t 'simulation.shares' %></th>
      <th><%= t 'simulation.annuity' %></th>
      <th><%= t 'simulation.annuity_freq' %></th>
    </tr>
    <%= render @simulations %>
  </table>
<% end -%>
