<li>
  <%= t 'simulation.freq.every' %> <%= simulation_scenario.frequency %> 
  <%= simulation_scenario.frequency_type %>, 
  <%= simulation_scenario.action %> <%= simulation_scenario.amount %> 
  <%= simulation_scenario.unit %> <%= t 'simulation.when.price' %>
  <%= simulation_scenario.operator %> <%= t 'simulation.when.past' %>
  <%= simulation_scenario.timespan_length %> 
  <%= simulation_scenario.timespan_unit %>'s 
  <%= simulation_scenario.stat %>.
</li>
