<tr>
  <td><%= simulation_log.date_at %></td>
  <td><%= simulation_log.event %></td>
  <td><%= simulation_log.fund %></td>
  <td><%= simulation_log.share %></td>
  <td><%= simulation_log.net_value.round(2) %></td>
</tr>
