<h1><%= t 'simulation.log.title' %></h1>
<%= render @simulation %>
<%= paginate @simulation_logs %>
<table class="table table-striped table-hover table-border">
  <tr>
    <th><%= t 'stock.date' %></th>
    <th><%= t 'simulation.log.event' %></th>
    <th><%= t 'simulation.log.fund' %></th>
    <th><%= t 'simulation.unit.shares' %></th>
    <th><%= t 'simulation.log.net_val' %></th>
  </tr>
  <%= render @simulation_logs %>
</table>
<%= paginate @simulation_logs %>
