<h1><%= t 'simulation.log.title' %></h1>
<%= will_paginate @simulation_logs %>
<table>
  <tr>
    <th><%= t 'stock.date' %></th>
    <th><%= t 'simulation.log.event' %></th>
    <th><%= t 'simulation.log.fund' %></th>
    <th><%= t 'simulation.unit.shares' %></th>
    <th><%= t 'simulation.log.net_val' %></th>
  </tr>
  <%= render @simulation_logs %>
</table>
<%= will_paginate @simulation_logs %>
