<tr>
  <td><%= stock.quote.upcase %></td>
  <td><%= link_to stock.name, stock_path(stock) %></td>
  <td><%= stock.start_date %></td>
  <td><%= stock.end_date %></td>
  <td><%= stock.sector %></td>
  <td><%= stock.industry %></td>
  <td><%= stock.full_time_employees %></td>
  <td>
    <% if stock.refreshed_today? %>
      <%= stock.refreshed_at %>,
    <% else -%>
      <%= link_to t('stock.refresh'), refresh_stock_path(stock), method: :post %>
    <% end -%>
  </td>
  <td><%= link_to t('stock.simulate'), simulate_stock_path(stock) %></td>
  <td><%= link_to t('stock.simulation_results'), simulations_stock_path(stock) %></td>
  <td><%= link_to 'X', stock_path(stock), 
    method: :delete, confirm: t('message.confirm') %></td>
</tr>
