<h1><%= t 'stock.index' %></h1>
<%= will_paginate %>

<table>
  <tr>
    <th><%= t 'stock.symbol' %></th>
    <th><%= t 'stock.company' %></th>
    <th><%= t 'stock.start' %></th>
    <th><%= t 'stock.end' %></th>
    <th><%= t 'stock.sector' %></th>
    <th><%= t 'stock.industry' %></th>
    <th><%= t 'stock.employees' %></th>
    <th><%= t 'stock.refreshed' %></th>
    <th><%= t 'stock.simulate' %></th>
    <th><%= t 'stock.simulation_results' %></th>
    <th><%= t 'stock.delete' %></th>
  </tr>
  <%= render @stocks %>
</table>

<%= will_paginate %>
