<h1>Stock index</h1>
<%= will_paginate %>

<ul>
  <% @stocks.each do |stock| %>
    <li>
    <%= stock.quote %>,
    <%= link_to stock.name, stock_path(stock) %>, 
    <%= stock.start_date %>,
    <%= stock.end_date %>,
    <%= stock.sector %>,
    <%= stock.industry %>,
    <%= stock.full_time_employees %>,
    <% if stock.refreshed_today? %>
      refreshed at <%= stock.refreshed_at %>,
    <% else -%>
      <%= link_to 'refresh', refresh_stock_path(stock), method: :post %>
    <% end -%>
    <%= link_to 'simulate', simulate_stock_path(stock) %>
    <%= link_to 'simulation results', simulations_stock_path(stock) %>
    </li>
  <% end %>
</ul>

<%= will_paginate %>
