<%= will_paginate %>

<ul>
  <% @stocks.each do |stock| %>
    <li>
    <%= stock.quote %>,
    <%= link_to stock.name, stock_path(stock) %>, 
    <%= link_to 'simulate', simulate_stock_path(stock) %>
    </li>
  <% end %>
</ul>

<%= will_paginate %>
