<h1>Register a company</h1>
<%= form_for @stock, url: @stock, method: :post do |f| %>
  <%= render 'shared/errors', builder: f %>
  <div>
    <%= f.label :quote, 'Symbol' %>
    <%= f.text_field :quote %>
  </div>
  <div>
    <%= f.label :name, 'Company name' %>
    <%= f.text_field :name %>
  </div>
  <%= f.submit 'Register' %>
<% end -%>
