<h1><%= @stock.name %></h1>
<%= will_paginate @prices %>
<table>
  <tr>
    <td>Date</td>
    <td>High</td>
    <td>Low</td>
    <td>Open</td>
    <td>Close</td>
  </tr>
  <% @prices.each do |price| -%>
    <tr>
      <td><%= price.date_at.to_s %></td>
      <td><%= price.high.round(2) %></td>
      <td><%= price.low.round(2) %></td>
      <td><%= price.open.round(2) %></td>
      <td><%= price.close.round(2) %></td>
    </tr>
  <% end -%>
</table>
<%= will_paginate @prices %>
