<h1><%= @stock.name %></h1>
<div>
  <%= link_to t('stock.simulate'), simulate_stock_path(@stock.id) %>
</div>
<div>
  <%= link_to t('stock.simulation_results'), simulations_stock_path(@stock.id) %>
</div>
<%= paginate @prices %>
<table class="table-condensed table-hover table-striped table-bordered">
  <tr>
    <td><%= t 'stock.date' %></td>
    <td><%= t 'stock.high' %></td>
    <td><%= t 'stock.low' %></td>
    <td><%= t 'stock.open' %></td>
    <td><%= t 'stock.close' %></td>
    <td><%= t 'stock.volume' %></td>
    <td><%= t 'stock.adj_close' %></td>
  </tr>
  <% @prices.each do |price| -%>
    <tr>
      <td><%= price.date_at.to_s %></td>
      <td><%= price.high.round(2) %></td>
      <td><%= price.low.round(2) %></td>
      <td><%= price.open.round(2) %></td>
      <td><%= price.close.round(2) %></td>
      <td><%= price.volume %></td>
      <td><%= price.adj_close.round(2) %></td>
    </tr>
  <% end -%>
</table>
<%= paginate @prices %>
